<table class="table table-bordered">
  <thead style="background-color: #007db8; color: white;">
    <tr style="text-align: center">
      <th>First Name</th>
      <th>Last Name</th>
      <th style=" padding-bottom: 1.5%;">Username</th>
      <th>Primary Account#</th>
      <th>Savings Account#</th>
      <th>Enable Account</th>
      <th>Disable Account</th>
      <th style=" padding-bottom: 1.5%;">Features Given to the User</th>
       <th style="padding-bottom: 1.5%;">Change Features Given</th>
     
    </tr>
  </thead>
  <tbody>
          <tr *ngFor="let user of users" style="text-align: center">
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.primaryAccno}}</td>
            <td>{{user.savingsAccno}}</td>
            <td><button (click)="enableLoginService(user.username)" class="btn btn-success">Enable</button></td>
            <td><button (click)="disableLoginService(user.username)" class="btn btn-success">Disable</button></td>
            <td>{{user.featureStatus}}</td>
        <td style="text-align: center">
        
          <select (change) = "filterSelected($event.target.value)" >
            <option *ngFor="let r of roles" [value]='r.value'>
              {{r.name}}
            </option>
          </select>
          <button (click) = "setOption(user.username)" class="btn btn-success">Set</button>
        
     
      </td>
          </tr>
         
         
        </tbody>
      </table>
     